<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
	<link href="{{ url_for('static', filename='fullcalendar.custom.css') }}" rel='stylesheet' />
	<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
	<script>

		$(document).ready(function() {

			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: {
					url: 'data',
					error: function() {
						$('#script-warning').show();
					}
				},
				eventColor: '#2b90d9',
				loading: function(bool) {
					$('#loading').toggle(bool);
				}
			});

		});

	</script>
</head>
<body>
	<div id='wrap'>

        <div id='menu'>
        	<div class='button-container'>
	        	<div id='calendarButton' class='button -blue center'>Calendar</div>
				<script type="text/javascript">
				    document.getElementById("calendarButton").onclick = function () {
				        location.href = "/";
				    };
				</script>
				<div id='formulaButton' class='button -blue center'>Formula</div>
				<script type="text/javascript">
				    document.getElementById("formulaButton").onclick = function () {
				        location.href = "/formula";
				    };
				</script>
			</div>
        </div>

        <div id="header">
        	<h1>Extrapolation Factor Calendar</h1>
    	</div>
		<div id='script-warning'>
			Error getting data from <code>/data</code> endpoint.
		</div>

		<div id='loading'>loading...</div>

		<div id='calendar'></div>

    </div>
	
</body>
</html>
